/* LoginPage.css */

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
  text-align: center;
}

.login-page::before {
  content: '';
  background-image: url('../../assets/newton_paiva_logo.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.05;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.login-container {
  background: black;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}
.top-image {
  width: 300px;
  margin-bottom: 16px;
}

.login-container {
  background: white;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.login-header img {
  width: 40px;
  margin-right: 8px;
}

.login-header h1 {
  display: flex;
  align-items: center;
  margin: 0;
}

.login-header .tech {
  color: #2882c3;
}

.login-header .juntas {
  color: #040404;
}

.login-input-group {
  margin-bottom: 16px;
  text-align: left;
  width: 100%;
}

.login-input-group label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

.login-input-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 20px;
  background-color: #0072bc;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 16px;
}

button[type="submit"]:hover {
  background-color: #2882c3;
}

.forgot-password-container {
  text-align: right;
  width: 100%;
}

.login-forgot-password-link {
  color: #005a99;
  cursor: pointer;
}

.login-forgot-password-link:hover {
  text-decoration: none;
}

.footer {
  margin-top: 16px;
  color: #000;
  font-size: 14px;
}