.container {
  margin-top: 70px;
  margin-left: 16%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  height: 100vh;
}

.btn-logout {
  margin-bottom: 20px;
}

.btn-atualizar {
  margin-top: 20px;
  border-radius: 100px;
}

.artigos {
  margin-top: 20px;
}

.artigo {
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.artigo h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.artigo button {
  background-color: #11b367;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.depoimentos {
  margin-top: 30px;
}

.depoimento {
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.depoimento p {
  font-style: italic;
  font-size: 1rem;
}

.depoimento footer {
  text-align: right;
  font-size: 0.9rem;
  font-weight: bold;
}

.footer-text {
  text-align: center;
  margin-top: 40%;
  color: #000;
  font-size: 14px;
}

footer {
  margin-top: 20px;
}