.content {
    text-align: center;
    margin-top: 200px; 
  }

  .techlife-logo {
    margin-top: 20px; 
  }
  
  .footer-home {
    text-align: center;
    margin-top: 16px;
    color: #000;
    font-size: 14px;
  }
